@charset "UTF-8";

/* god theme: Call me to include god in your SASS projects.*/

body > h1 {
  font-size: 9vw;
  color: #dd1f3b;
  font-weight: bold;
  text-align: center !important;
}

body > h2 {
  font-size: 6.5vw;
  color: #dd1f3b;
}

body > h3 {
  font-size: 5vw;
  color: #dd1f3b;
}

body > h4 {
  font-size: 4vw;
  color: #dd1f3b;
}

body > h5 {
  font-size: 3.5vw;
}

body > h6 {
  font-size: 3vw;
}

body > p,
body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6,
body > ul,
body > ol,
body > dl,
body > form,
body > pre,
body > table,
body > menu,
body > footer {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 22% !important;
  margin-right: 22% !important;
  padding: 12px 2%;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > p,
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > h6,
  body > ul,
  body > ol,
  body > dl,
  body > form,
  body > pre,
  body > table,
  body > menu,
  body > footer {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 17.6% !important;
    margin-right: 17.6% !important;
  }
}

@media screen and (max-width: 600px) {
  body > p,
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > h6,
  body > ul,
  body > ol,
  body > dl,
  body > form,
  body > pre,
  body > table,
  body > menu,
  body > footer {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 12px !important;
    margin-right: 12px !important;
    padding: 3px;
  }
}

body > blockquote {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 25px  2% 100px  2% !important;
  width: 20% !important;
  break-before: always !important; /* give way on right */
  clear: right;
  float: right;
  margin-left: 2% !important;
  background: #000;
  color: pink;
  quotes: "“" "”" "‘" "’";
  border: 0 !important;
  font-size: 100%;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > blockquote {
    width: 25.4% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > blockquote {
    width: 18.38% !important;
  }
}

body > aside {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 2%;
  width: 20% !important;
  clear: left;
  float: left;
  margin-right: 2% !important;
  background: #000;
  border: 0;
  color: #dd1f3b;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > aside {
    full: 5.4%;
    width: 25.4% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > aside {
    full: 5.4%;
    width: 18.38% !important;
  }
}

@media screen and (max-width: 600px) {
  body > blockquote,
  body > aside {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 12px 2%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > blockquote,
  body > aside {
    margin-bottom: 15.6px !important;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  body > blockquote,
  body > aside {
    margin-bottom: 19.2px !important;
  }
}

@media screen and (min-width: 1201px) {
  body > blockquote,
  body > aside {
    margin-bottom: 22.8px !important;
  }
}

body > ol > li {
  margin-left: 12px !important;
}

body > ol > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  body > ol > li {
    list-style: inside;
  }
}

body > ul > li {
  margin-left: 12px !important;
}

body > ul > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  body > ul > li {
    list-style: inside;
  }
}

body > img {
  max-width: 56% !important;
}

/* eve theme: Call me to include eve in your SASS projects.*/

body {
  font-family: "Inconsolata",serif;
}

body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6 {
  font-family: "Montserrat",sans-serif;
}

body > footer {
  background: #fff;
  border: 0;
  color: #000;
  margin: 0;
  text-align: center !important;
  clear: both;
}

@media screen and (max-width: 600px) {
  body > footer {
    position: static !important;
    bottom: inherit !important;
    padding: 12px 12px  !important;
  }
}

body > blockquote:before {
  content: open-quote;
  color: #dd1f3b;
  display: inline;
  font-size: 200px;
  height: 0;
  left: 2%;
  line-height: 0;
  position: relative;
  top: 66.6666666667px;
}

body > blockquote::after {
  content: close-quote;
  color: #dd1f3b;
  display: inline;
  float: right;
  font-size: 200px;
  height: 0;
  line-height: 0;
  position: relative;
  right: 2%;
  top: 66.6666666667px;
}

body > blockquote a {
  font-style: italic;
}

@media (max-width: 600px) {
  body > blockquote {
    width: 100% !important;
  }
}

body > blockquote strong {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  display: block;
  margin-top: 12px;
  padding-right: 2%;
}
/*# sourceMappingURL=eve.css.map */
