/// /// //
/// Utility to add background and foreground color to any tag.
//
/// @param {STR} $bg background
/// @param {STR} $fg color
/// @param {STR} $bd border
//
/// @example
/// body > $pillar {
///   @include colorize_god(red, white, blue solid 1px);
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///   background: red;
/// ///   border: blue solid 1px;
/// ///   color: white;
/// /// }
/// //
@mixin colorize_god($bg, $fg, $bd: 0) {
  /// type-of: type-of($b);
  /// d: round($b);
  @if not no_means_no($bg) {
    background: $bg;
  }
  border: $bd;
  @if not no_means_no($fg) {
    color: $fg;
  }
}
