/// /// //
/// Utility to create link colors from one primary color.
//
/// @param {STR} $c color
//
/// @example
/// body > $pillar {
///   @include colorize_link(red);
/// }
//
/// /// body > h1 a,
/// /// body > h2 a,
/// /// body > p a, {
/// /// ///    color: #990000;
/// /// ///    &:visited {
/// /// ///      color: #990000;
/// /// ///    }
/// /// //
/// /// ///    &:hover {
/// /// ///      color: red;
/// /// ///    }
/// /// //
/// /// ///    &:active {
/// /// ///     color: cyan;
/// /// ///    }
/// /// }
/// //
@mixin colorize_link($c) {
  color: $c;

  &:visited {
    color: darken(adjust-hue($c, 60deg), 25);
  }

  &:hover {
    @if (lightness($c) > 50) {
      color: darken($c, 20%);
    } @else {
      color: lighten($c, 20%);
    }
  }

  &:active {
    color: adjust-hue($c, -240deg);
  }
}
