/// /// //
/// Master style for heading spreads
//
/// @param {UNIT} $ff Font family
/// @param {UNIT} $fw Font weight
/// @param {UNIT} $fc Font color
/// @param {UNIT} $fz Font size
//
/// @example
/// h1, h2, h3, h4, h5, h6 {
///   @include fontize_god("Arial", 800, blue);
/// }
//
/// /// h1, h2, h3, h4, h5, h6 {
/// ///   color: blue;
/// ///   font-family: "Arial";
/// ///   font-weight: 800;
/// /// }
@mixin fontize_god($ff: "none", $fw: "none", $fc: "none", $fz: "none") {
  @if not no_means_no($fc) {
    color: $fc;
  }
  @if not no_means_no($ff) {
    font-family: $ff;
  }
  @if not no_means_no($fz) {
    font-size: $fz;
  }
  @if not no_means_no($fw) {
    font-weight: $fw;
  }
}
