a {
  @include colorize_link($pillar-color);
  cursor: pointer;
  &:visited,
  &:active {
    text-decoration: none !important;
  }
  &:hover {
    font-weight: bold !important;
    text-decoration: none !important;
  }
}
