@import "../../stylesheets/mixins/colorize_link";
@include test("@mixin colorize_link()") {
  @include assert("Should output the a:link color scheme") {
    @include output {
      @include colorize_link(red);
    }
    @include expect {
      color: red;

      &:visited {
        color: olive;
      }

      &:hover {
        color: #ff6666;
      }

      &:active {
        color: lime;
      }
    }
  }
  @include assert(
    "Should output a HTML standardised color scheme if given blue"
  ) {
    @include output {
      @include colorize_link(blue);
    }
    @include expect {
      color: blue;

      &:visited {
        color: purple;
      }

      &:hover {
        color: #6666ff;
      }

      &:active {
        color: red;
      }
    }
  }
  @include assert("Should not output a too bright active color") {
    @include output {
      @include colorize_link(pink);
    }
    @include expect {
      color: pink;

      &:visited {
        color: #ffde41;
      }

      &:hover {
        color: #ff5a77;
      }

      &:active {
        color: #cbffc0;
      }
    }
  }
}
