@import "../../stylesheets/mixins/colorize_god";
@include test("@mixin colorize_god()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include colorize_god(black, white, red solid 1px);
    }
    @include expect {
      background: black;
      border: red solid 1px;
      color: white;
    }
  }
  @include assert("border: color width") {
    @include output {
      @include colorize_god(black, white, grey 2px);
    }
    @include expect {
      background: black;
      border: grey 2px;
      color: white;
    }
  }
  @include assert("border: color") {
    @include output {
      @include colorize_god(black, white, grey);
    }
    @include expect {
      background: black;
      border: grey;
      color: white;
    }
  }
  @include assert("border: width") {
    @include output {
      @include colorize_god(black, white, 2px);
    }
    @include expect {
      background: black;
      border: 2px;
      color: white;
    }
  }
  @include assert("border: width") {
    @include output {
      @include colorize_god(black, white, 2);
    }
    @include expect {
      background: black;
      border: 2;
      color: white;
    }
  }
  @include assert("border: color width") {
    @include output {
      @include colorize_god(black, white, grey 2px);
    }
    @include expect {
      background: black;
      border: grey 2px;
      color: white;
    }
  }
  @include assert("Drop the parameter means no border.") {
    @include output {
      @include colorize_god(black, white);
    }
    @include expect {
      background: black;
      border: 0;
      color: white;
    }
  }
  @include assert("Zero means no border.") {
    @include output {
      @include colorize_god(black, white, 0);
    }
    @include expect {
      background: black;
      border: 0;
      color: white;
    }
  }
  @include assert("none means no border.") {
    @include output {
      @include colorize_god(black, white, none);
    }
    @include expect {
      background: black;
      border: none;
      color: white;
    }
  }
}
