@import "../../stylesheets/mixins/elio_button";
@include test("@mixin elio_button()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include elio_button(2em, white, blue, 10px red solid, 12px, 3%);
    }

    @include expect {
      background: white;
      border: 0;
      color: blue;
      border-radius: 5px;
      border: 10px red solid;
      cursor: pointer;
      display: inline-block;
      font-size: 2em;
      padding-left: 3%;
      padding-right: 3%;
      padding-bottom: 12px;
      padding-top: 12px;
      text-decoration: none;

      > img {
        max-height: 88px;
        height: auto;
      }

      &:hover,
      &.selected,
      &.active {
        background: blue;
        border: 10px red solid;
        color: white;
      }

      &:disabled {
        background: blue;
        border: 0;
        color: white;
        cursor: not-allowed;
      }
    }
  }
  // @include assert('No padding.') {
  //   @include output {
  //     @include elio_button(2em, white, blue, 10px red solid);
  //   }
  //   @include expect {
  //     background: white;
  //     border: 10px red solid;
  //     color: blue;
  //     border-radius: 5px;
  //     cursor: pointer;
  //     display: inline-block;
  //     font-size: 2em;
  //     text-decoration: none;
  //
  //     > img {
  //       max-height: 48px;
  //       height: auto;
  //     }
  //
  //     &:hover {
  //       background: blue;
  //       border: 10px red solid;
  //       color: white;
  //     }
  //
  //     &:disabled {
  //       cursor: not-allowed;
  //     }
  //   }
  // }
  // @include assert('Correctly no border.') {
  //   @include output {
  //     @include elio_button(2em, white, blue);
  //   }
  //   @include expect {
  //     background: white;
  //     color: blue;
  //     border-radius: 5px;
  //     cursor: pointer;
  //     display: inline-block;
  //     font-size: 2em;
  //     text-decoration: none;
  //
  //     > img {
  //       max-height: 48px;
  //       height: auto;
  //     }
  //
  //     &:hover {
  //       background: blue;
  //       border: 0;
  //       color: white;
  //     }
  //
  //     &:disabled {
  //       background: blue;
  //       border: 0;
  //       color: white;
  //       cursor: not-allowed;
  //     }
  //   }
  // }
  // @include assert('Correctly no border.') {
  //   @include output {
  //     @include elio_button('none', white, blue);
  //   }
  //   @include expect {
  //     background: white;
  //     color: blue;
  //     border-radius: 5px;
  //     cursor: pointer;
  //     display: inline-block;
  //     text-decoration: none;
  //
  //     > img {
  //       max-height: 48px;
  //       height: auto;
  //     }
  //
  //     &:hover {
  //       background: blue;
  //       border: 0;
  //       color: white;
  //     }
  //
  //     &:disabled {
  //       background: blue;
  //       border: 0;
  //       color: white;
  //       cursor: not-allowed;
  //     }
  //   }
  // }
}
