@import "../../stylesheets/mixins/fontize_god";
@include test("@mixin fontize_god()") {
  @include assert("Correctly place all its parameters.") {
    @include output {
      @include fontize_god(Arial, 800, blue, 2em);
    }
    @include expect {
      color: blue;
      font-family: Arial;
      font-size: 2em;
      font-weight: 800;
    }
  }
  @include assert("family only") {
    @include output {
      @include fontize_god(Arial);
    }
    @include expect {
      font-family: Arial;
    }
  }
  @include assert("family weight only") {
    @include output {
      @include fontize_god(Arial, 800);
    }
    @include expect {
      font-family: Arial;
      font-weight: 800;
    }
  }
  @include assert("family weight color only") {
    @include output {
      @include fontize_god(Arial, 800, blue);
    }
    @include expect {
      color: blue;
      font-family: Arial;
      font-weight: 800;
    }
  }
  @include assert("size only") {
    @include output {
      @include fontize_god("none", "none", "none", 2em);
    }
    @include expect {
      font-size: 2em;
    }
  }
}
