@import "../../stylesheets/mixins/polite";
@include test("@mixin polite()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include polite();
    }
    @include expect {
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}
