@import "blockquote/settings"; // LAYOUT ==================
$god-space: 2%; // the horizontal padding in all the prongs.
$heaven-width: 22%; // prong width right (as a percentage to help scaling).
$hell-width: 22%; // prong width left (as a percentage to help scaling).
$personal-space: 12px; // the vertical padding between believers.
$transition: 3s; // MEDIA BREAKS ==================
$god-loose: 1200px; // loose - prongs divided - no overlap.
$god-cosy: 900px; // cosy - overlap between sinners and the pillar.
$god-tight: 600px; // tight - believers full width - piller width small margin.
$heaven-cosy: 10%; // cosy - allow the heaven width to grow by this amount.
$hell-cosy: 10%; // cosy - allow the hell width to grow by this amount.
$pillar-cosy: 20%; // cosy - allow the pillar width to grow by this amount.
// COLORS ==================
$heaven-color: pink; // light bg: mainly for bg with $pillar-color text.
$pillar-color: #dd1f3b; // dark text: mainly for heading text on white bg.
$hell-color: black; // dark bg: mainly for bg with white text.
$god-color: darken($pillar-color, 20%); // for body level text.
$god-blushed: lighten($heaven-color, 5); // $god-color: the primary tint color
// TEXT ==================
$god-h1: 9vw; // font size of h1.
$god-h6: 3vw; // font size of h6.
$god-p: 100%; // font size of paragraph text.
$god-spoke: 100%; // standout with big text.
$god-head: "Montserrat", sans-serif; // for heading level text.
$god-body: "Inconsolata", serif; // for body level text.
// BASICS ==================
$god-border: 1px $god-blushed solid; // general purpose border
$inline-padding: 3px;
$toothpaste-color: "none"; // BELIEVERS ==================
$container: (body); // sin classes only affect direct children of these
$pillar: (
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  dl,
  form,
  pre,
  table,
  menu,
  footer
); // pillar - all tags are stictly contained the same way - no believers here.
$heaven: (blockquote); // hangs right - gets the best views.
$hell: (aside); // hangs left.
